* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box
}

header {
    background-color: #ccc;
    min-height: 70px;
    padding: 15px
}

main {
    background-color: #ddd;
    min-height: 300px;
    padding: 7.5px 15px
}

footer {
    background-color: #ccc;
    min-height: 70px;
    padding: 15px
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto
}

.login-form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px;
    border: 2px dotted #ccc;
    border-radius: 10px;
    margin-top: 50px;
    background: linear-gradient(to right, #23b8fd, #f14bd6)
}

h1 {
    color: #099;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center
}

.input-box {
    margin-bottom: 20px;
    margin-top: 10px
}

.input-box input {
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #ccc;
    outline: 0
}

.logo {
    vertical-align: middle;
    margin-left: 770px
}

.content .title {
    margin: 80px 0 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to right, #fc00ff, #00dbde)
}

h2.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 80px 0 50px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #00dbde
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto
}

.container {
    display: flex;
    width: 30px
}

#login {
    margin-right: 170px
}

.btn-btn-secondary {
    display: flex
}